@import url('https://fonts.googleapis.com/css?family=Nunito:700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;

}

p {
  font-family: 'Nunito',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiSvgIcon-root-71 {
  color: white;
}

.MuiChip-root-40 {
  background-color: #E83E0C;
}

.experience-title:hover{
  cursor: pointer;
 }

@media (max-width: 599px) {
  h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 321px) {
  h1 {
    font-size: 2.1em;
  }
}